/* GLOBAL STYLING */
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* HERO SECTION */

#hero-image {
  background-image: url("assets/hero-image.jpg");
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

.custom-button {
  border-radius: 34px;
}

/* DIVIDER SECTION */

#book-image-divider {
  background-image: url("assets/book-image.jpg");
  background-size: repeat;
  background-position: center center;
  height: 30vh;
}

/* CTA SECTION */

#cta-bg {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 60vh;
}
